doctype html
html 
  header
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js' integrity='sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0' crossorigin='anonymous')
    script(src='./header.js')
  body  
    .container-fluid 
      nav.navbar.navbar-expand-lg.navbar-dark.bg-success
        .container-fluid
          a.navbar-brand(href='#') Game Store
          button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarNavDropdown.collapse.navbar-collapse
            div.d-flex.flex-column.mx-auto
              ul.navbar-nav
                li.nav-item
                  a.nav-link.active(aria-current='page' href='/') Home
                li.nav-item
                  a.nav-link(href='#') Store
                li.nav-item
                  a.nav-link(href='/user') User
              form.d-flex.mb-0.input-group-sm
                input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
                button.btn.btn-outline-light(type='submit') Search
            if (user)
              h1=user.email
              
    block content