.login{
    height:100vh;

    display: flex;
    justify-content: center;
    background-image:   linear-gradient(to left,rgba($bg-secondary-color,0.5),rgba($bg-tertiary-color,0.3)),               
                        url('https://store.cloudflare.steamstatic.com/public/shared/images/joinsteam/acct_creation_bg.jpg');

    .form-input{
        &__title{
            @include Text(1.4rem,$text-color);
        }

        .item{
            margin-bottom: 0.5rem;
            @include ContentCenter();
            label{
                width:30%;
                padding:0 0.5rem;

                color:$title-color;
                font-size: 1rem;
            }
            input{
                padding:0.2rem 0.5rem;

                outline: 0;
                border: 0;
            }
        }
    }
}