body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    overflow: hidden;
}
#background{
    background-color: #C0C8CE; 

    position: relative;

    overflow-x: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

#start,#end{
    position:absolute;

    background-color: white;
    width: 100px;
    height: 40px;

    text-align: center;
    line-height: 40px;

    transition:0.6s;

    border-radius: 20px;
}


#start:hover,#end:hover{
    background-color: pink;

    cursor: pointer;
}

#end{
    display: none;
}

.ran{
    width: 10px;
    height: 10px;

    background-color:  rgb(21, 202, 21);
    position: absolute;

    box-sizing: border-box;
}
#ran0{
    background-color: black;

    border-radius: 2px;
}
.vatthe{
    width: 10px;
    height: 10px;

    background-color: rgb(55, 0, 255);
    position: absolute;
    animation:flicker 3s infinite
}

@keyframes flicker{
    0%{opacity: 1;}
    25%{opacity: 0.75;}
    50%{opacity: 0.25;}
    75%{opacity: 0.75;}
    100%{opacity: 1;}
}

.vatcan{
    width: 10px;
    height: 10px;

    background-color:red;
    position: absolute;
}

#footer{
    display: flex;
}

#point{
    display: flex; 
    justify-content: flex-start;

    width: 100px;
    left: 100%;
    top:100%;

}

#max-point{
    width: 100px;
    background-color: pink;
    text-align: center;
}


#present-point{
    width: 100px;
    height: 60px;
    background-color: pink;
    text-align: center;
}

#present-point>p,#max-point>p{
    font-size: 20px;
    margin: 5px 0;
}

#present-point>h3,#max-point>h3{
    margin: 5px 0;
}

.wrapper{
    position: absolute;
    display: flex;
    justify-content: center;
}

#controller{
    width: 60px;
    height: 60px;
    background-color: black;
    position: relative;
    
}

.btn-ctrl{
    width: 20px;
    height: 20px;
    background-color: pink;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#top{
    left:20px;
}
#bot{
    left:20px;
    bottom: 0;
}
#left{
    top: 20px;
}
#right{
    right: 0;
    top: 20px;
}

#pause{
    position: absolute;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: white;
    top: 20px;
    left: 20px;
}

