html 
    header
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl' crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js' integrity='sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0' crossorigin='anonymous')
        script(src='./header.js')
    body
        .container.mt-5
        h1.text-center Sign up
        <form class="row g-3" method="post" action="/">
            <div class="">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="example@gmail.com" name="email">
            </div>
            <div class="">
                <label for="inputPassword4" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword4" name="password">
            </div>
            <div class="">
                <label for="inputAddress" class="form-label">Địa chỉ</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="" name="account">
            </div>
            <div class="">
                <label for="inputCity" class="form-label">Thành phố</label>
                <input type="text" class="form-control" id="inputCity" name="date">
            </div>
            <div class="">
                <label for="inputState" class="form-label">Quận</label>
                <select id="inputState" class="form-select" name="country">
                    <option selected>quận 10</option>
                    <option>quận 1</option>
                    <option>quận 8</option>
                    <option>quận 12</option>
                </select>
            </div>
            <div class="">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck" name="gender">
                    <label class="form-check-label" for="gridCheck">
                        Check me out
                    </label>
                </div>
            </div>
            <div class="">
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </form>