body{
  overflow: hidden;
}
.container{
  width:100vw;
  height:100vh;
  display:flex;
  flex-wrap: wrap;
  background-color:grey;
}
.btn-custom{
  height:40px;

  outline:none;
  border:none;
  cursor: pointer;

  display:flex;
  justify-content: center;
  align-items: center;

  font-size: 1rem;
  font-family:'Fira Code';

  padding:20px 10px;
  margin: 30px;
  border-radius:5px;

  transition:background-color 0.6s,opacity 0.1s;
}

.btn-custom:hover{
  background-color:black;
  color:white;
}

.btn-custom:active{
  transform: translate(1px,1px);
  opacity:0.6;
}





.custom-1{
  border: 1px solid white;
  background-color:black;
  color:white;

  position: relative;
  z-index: 1;

  transition:color 0.6s;
}
.custom-1:hover{
  border-color: black;
  color:black;
}
.custom-1::after{
  content:"";
  width:0 ;
  height:100%;
  background-color: rgb(173, 165, 42);

  position: absolute;
  z-index: -1;
  top: 0;
  left:0;

  transition:0.6s;
}
.custom-1:hover::after{
  width:100%;
}



.custom-2{
 position: relative;
 z-index: 1;
}
.custom-2:hover{
  background-color:white;
  color:black;
}

.custom-2::after{
  content:"";
  width:0;
  height:100%;
  border-radius:3px;

  background-color: rgb(42, 173, 107);
  opacity:0;

  position: absolute;
  z-index: -1;
  top: 0;
  left:50%;

  transform:translateX(-50%);

  transition:0.6s;
}
.custom-2:hover::after{
  width:100%;
  opacity:1;
}




.custom-3{
  border: 1px solid black;
  background: linear-gradient(61deg, rgba(34,193,195,1) 0%, rgba(247,45,253,1) 100%);
  /* -webkit-background-clip: text;
  color:transparent; */

  position: relative;
  z-index:1;

  transition:color 0.6s;

  box-sizing: border-box;
  overflow: hidden;
}
.custom-3:hover{
  border: 1px solid rgb(255, 255, 255);
  background:black;
  
}

.custom-3::after{
  content:"";
  width:100% ;
  height:0;

  background:black;

  position: absolute;
  z-index: -1;
  top: 0;
  left:0;

  transition:0.6s;
}
.custom-3:hover::after{
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  content:"Top to Bot";

  background: linear-gradient(61deg, rgba(34,193,195,1) 0%, rgba(247,45,253,1) 100%);
  -webkit-background-clip: text;
  color:transparent; 
}





.custom-4{
  position:relative;
  z-index: 1;
  border-radius:0px;
}
.custom-4:before{
  content:'';
  width:100%;
  height:0%;

  background-color: rgb(129, 127, 255);

  position: absolute;
  left:50%;
  top:0;
  right:50%;
  z-index: -1;

  transition:0.4s ease-in-out;
}

.custom-4:hover:before{
  right:0;
  left:0;

  height:100%;
}





.custom-5{
  width:100px;
  height:20px;
  text-align: center;

  position: relative;
  z-index:1;

  transition:0.6s;
  
  background:linear-gradient(315deg,#4dff03,#00d0ff);;
}


.custom-5{
  border-radius: 0;
}
.custom-5 svg,
.custom-5 svg rect{
  width: 100%;
  height: 100%;
  
  position: absolute;
  top: 0;
  left:0;
  fill:transparent;
}
.custom-5 rect{
  stroke:rgba(0, 0, 0);
  stroke-width: 4;
  transition:1s ease-out;
  stroke-dasharray: 400;
  stroke-dashoffset: 0;
}
.custom-5:hover rect{
  stroke:rgba(255, 255, 255);
  stroke-width: 6;
  stroke-dasharray:400;
  stroke-dashoffset:1200;
}
