.container{
  width:100vw;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:grey;
}

.percent{
  width:70%;
  height:70%;
  border-radius:50%;

  display:flex;
  justify-content:center;
  align-items:center;

  background:var(--progress-thumb-color);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;

  font-size: calc(var(--progress-circle-size)/6);
  font-weight:500;

  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index:1000;
}

/* sua o day */
:root{
  --progress-circle-color--primary: linear-gradient(128deg, rgba(222,66,23,1) 7%, rgba(213,127,41,1) 46%, rgba(185,212,23,1) 79%);
  --progress-circle-color--second:white;
  --progress-thumb-color:rgb(219, 55, 40);
  --progress-circle-size:200px;
}

.circular{
  width:var(--progress-circle-size);
  height:var(--progress-circle-size);
  border-radius:50%;

  position:relative;
}
.circular::before{
  content:"";
  width:125%;
  height:125%;
  border-radius:50%;

  background:var(--progress-circle-color--primary);   

  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index:0;
}
.circular::after{
  content:"";
  width:105%;
  height:105%;
  border-radius:50%;

  background:var(--progress-circle-color--second);   

  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index:1;
}

.inner{
  width:95%;
  height:95%;
  border-radius:50%;

  background:var(--progress-circle-color--second);
  
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index:100;
}
.inner::before{
  content:"";
  width:95%;
  height:95%;
  border-radius:50%;

  background:var(--progress-circle-color--primary);
  
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index:200;
}
.inner::after{
  content:"";
  width:70%;
  height:70%;
  border-radius:50%;
  
  background:var(--progress-circle-color--second);
  
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index:300;
}
.circle .bar{
  width:100%;
  height:100%;
  border-radius:50%;

  background:var(--progress-circle-color--second);

  position:absolute;
  clip:rect(0,var(--progress-circle-size),var(--progress-circle-size),calc(var(--progress-circle-size)/2));
  z-index:10;
}

.circle .progress{
  width:100%;
  height:100%;
  border-radius:50%;

  background:var(--progress-thumb-color);

  position:absolute;
  clip:rect(0,calc(var(--progress-circle-size)/2),var(--progress-circle-size),0);
}

.circle .right{
  transform:rotate(180deg);
}

.circle .left .progress{
  animation:rotateLeft 4s both linear;
}
.circle .right .progress{
  animation:rotateRight 4s both linear;
  animation-delay:4s;
}

@keyframes rotateLeft{
  100%{transform:rotate(180deg)}
}
@keyframes rotateRight{
  100%{transform:rotate(180deg)}
}