$title-color: #1baddf;
$bg-primary-color: #173d57;
$bg-secondary-color: #1b2838;
$bg-tertiary-color:#95bcd3;
$header-bg-color: #646262;
$toggle-bg-color: rgb(75, 73, 73);

$text-color:#fff;
$gutter-text-color:#1897d6;

$search-bg-color:#377198;
$search-border-color:#173d57;
$search-input-color:#316282;
$search-input-border-color:#173d57;
$search-input-border-hover-color:#497c9e;

$indicator-color:#fff;

$carousel-control-color-primary:#fff;
$carousel-control-color-secondary:black;

$sale-off-color:#4c6b22;
$sale-off-text-color:#a4bd1c;